# POUR LA PROD
# DJANGO_SECRET_KEY - mettre une vrai clé valide
# DJANGO_DEBUG - mettre a False
# DJANGO_ALLOWED_HOSTS - mettre le vrai nom de domaine
# POSTGRES_PASSWORD - mettre un vrai mdp

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

# UID/GID evite les problèmes de permissions
# Lancer dans le terminal `id -u` et `id -g` et adapter
UID=1000
GID=1000