# Environnement
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Système
.DS_Store
Thumbs.db

# Logs
*.log